:root {
    --bcg-color: rgb(201, 157, 157);
    --text-color: rgb(255, 255, 255);

    --main-font: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;

    --small-font-size: 18px;
    --big-font-size: 32px;
    --title-small-font-size: 64px;
    --title-big-font-size: 82px;
}