:root {
    --bcg-color: rgb(201, 157, 157);
    --text-color: rgb(255, 255, 255);

    --main-font: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;

    --small-font-size: 2vw;
    --big-font-size: 4vw;
    --title-font-size: 7vw;
}